# .env file
AIRFLOW__DATABASE__SQL_ALCHEMY_CONN=postgresql+psycopg2://airflow:airflow@airflow-db:5432/airflow
AIRFLOW__CORE__EXECUTOR=LocalExecutor
AIRFLOW__CORE__LOAD_EXAMPLES=False
AIRFLOW__WEBSERVER__WORKERS=1
AIRFLOW__WEBSERVER__WORKER_TIMEOUT=120
AIRFLOW__CORE__STORE_SERIALIZED_DAGS=False


ADMIN_USERNAME=rotoro
ADMIN_PASSWORD=airflow
ADMIN_FIRSTNAME=ro
ADMIN_LASTNAME=ro
ADMIN_ROLE=Admin
ADMIN_EMAIL=rotoro@gmail.com
AIRFLOW_UID=1000

TZ= Asia/Ho_Chi_Minh
AIRFLOW__CORE__DEFAULT_TIMEZONE= Asia/Ho_Chi_Minh
AIRFLOW_DB_INIT_COMMAND=airflow db init
AIRFLOW_USER_CREATE_COMMAND=airflow users create --username ${ADMIN_USERNAME} --password ${ADMIN_PASSWORD} --firstname ${ADMIN_FIRSTNAME} --lastname ${ADMIN_LASTNAME} --role ${ADMIN_ROLE} --email ${ADMIN_EMAIL}
AIRFLOW_COMMAND=airflow webserver & airflow scheduler

POSTGRES_USER=airflow
POSTGRES_PASSWORD=airflow
POSTGRES_DB=airflow

