POSTGRES_HOST=haproxy
POSTGRES_PORT_MASTER=5000
POSTGRES_PORT_SLAVE=5001
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres 
POSTGRES_DB=postgres
URI_MONGO=mongodb://rotoro:rotoro123@mongo1:27017,mongo2:27018,mongo3:27019,mongo4:27020,mongo5:27021/?replicaSet=rs0&authSource=admin

MONGO_DB=rotoro
MONGO_GT_COLLECTION=giaitri
MONGO_TTM__COLLECTION =tintucmoi
MONGO_KD_COLLECTION=kinhdoanh